<script type="text/javascript">
	$(document).ready(function() {
		$('#link-search').click(function() {
			$('.text').hide();
			$(this).hide();
			$('#frmVisitorSearch').show();
		});
	});
</script>


<div class="checkoutbox">
	<%= form_tag visitor_search_path, {:class => 'form-horizontal', :remote => true} do %>
	<div class="checkbox-row row-fluid">
		<div class="checkout-unit span5">
			<%= text_field_tag 'pass_id', '', :class => 'span12 textbox-big justus-roman', :placeholder => "Enter Pass ID" %>
		</div>
		<div class="checkout-unit span2 or justus-roman">OR</div>
		<div class="checkout-unit span5">
			<%= text_field_tag 'my_pass_id', '', :class => 'span12 textbox-big justus-roman', :placeholder => "Enter My Pass ID" %>
		</div>
	</div>
	<div class="checkbox-row row-fluid">
		<div class="checkout-unit span12">
			<%= text_field_tag 'search_key', '',:class => 'span12 textbox-big justus-roman', :placeholder => "Or instead, type here for search" %>
		</div>
	</div>
	<div class="checkbox-row">
		<input type="submit" class="btn btn-large btn-success checkout-bt" value="Search"/>
	</div>
	<% end %>
</div>
<div id="results">
	
</div>
