<div class="pagerbg accountpage">
	<%= form_tag reset_pass_path do %>
	  <div class="row-fluid">
	    <div class="accountfield row-fluid">
	      <div class="span6 offset3">
	      	<%=  %>
	        <input type="text" placeholder="New Password" name="newpass" class="input-block-level">
	      </div>
	    </div>
	    <div class="accountfield row-fluid">
	      <div class="span6 offset3">
	        <input type="text" placeholder="Confirm Password" name="vertifypass" class="input-block-level">
	      </div>
	    </div>
	    <div class="accountfield row-fluid">
	      <div class="span2 offset5">
	        <input type="submit" name="changeaccountbt" value="Submit" class="btn btn-success btn-block">
	      </div>
	    </div>
	  </div>
  <% end %>
</div>