<div class="row">

<div class="well well-small" style="background:#4174C0;">
   	 <div class="hero-unit" style="background:#4174C0;">
    		<h3 class="offset5" style="color:#ffffff">Easier way to check-in Visitors</h3>
    		<h4><p class="offset5">Cloud enabled visitor management and visitor pass system</p></h4>
   		<p>
		<br/>
    		<%= link_to "Start your 60 day free trial", new_user_registration_path, 
    			:class => "btn btn-danger btn-large offset5" %> </p>
		<label class="offset5" style="color:#ffffff">No obligation trial and No credit card required</label>

		<h3 class="offset5" style="color:white">18 best ways to manage your visitors</h3>
    	</div>
</div>
</div>

</div>

<div class="row">

<div class="span4 offset1">

  <div class="thumbnail">
                    <div class="caption">
                    <h4>Instant Visitor check-ins</h4>
                    <p>Checkin visitors in seconds and create visitor pass instantly. Visitor registration demands only relevants fields. No more, no less.</p>
                    
                  </div>
        </div>
</div>

<div class="span4 offset1">

  <div class="thumbnail">
                    <div class="caption">
                    <h4>Schedule visitor appointments</h4>
                    <p> Experience a Worry free visitor appointment scheduling, get more out of 34pass. Create passes when the visitor arrives at reception desk </p>
                    
                  </div>
                </div>

  </div>


<div class="span4 offset1">

  <div class="thumbnail">
                    <div class="caption">
                    <h4>Analytics of visitors at your fingertips</h4>
                    <p> View all the relevant metrics about your visitors and thier visits at one place. Export your data in excel or a pdf format easily. </p>
                    
                  </div>
         </div>

  </div>
</div>