// Place all the styles related to the Visitors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.optional-fields {
  display:none;
}

#bt-optional-field {
  margin-left:100px;
}

.search {
  width:500px;
  margin-left:500px;
}

.left-input {
  float:left;
  
}

.right-input {
  float:left;
  margin-left:10px;
  
}
