<!DOCTYPE html>
<html>
  <head>
    <!--Bootstrapp files css-->
    <link type="text/css" rel="stylesheet" href="../../../../OfflineServer/34pass.com/css/bootstrap.min.css">
    <!--Customize style-->
    <link type="text/css" rel="stylesheet" href="../../../../OfflineServer/34pass.com/css/style.css">
    <!--jquery-->
    <script type="text/javascript" src="../../../../OfflineServer/34pass.com/js/jquery-1-1.9.1.min.js"></script>
    <!--sj bootstrap core-->
    <script type="text/javascript" src="../../../../OfflineServer/34pass.com/js/bootstrap.min.js"></script>
  </head>
  <body>
    <link type="text/css" rel="stylesheet" href="../../../../OfflineServer/34pass.com/css/Adelle/font.css">
    <link type="text/css" rel="stylesheet" href="../../../../OfflineServer/34pass.com/css/dashboard.css">
    <link type="text/css" rel="stylesheet" href="../../../../OfflineServer/34pass.com/js/jqueryui/css/sunny/jquery-ui-1.10.2.custom.min.css">
    <link type="text/css" rel="stylesheet" href="../../../../OfflineServer/34pass.com/css/resetpass.css">
    <link type="text/css" rel="stylesheet" href="../../../../OfflineServer/34pass.com/css/fixcss.css">
    <script type="text/javascript" src="../../../../OfflineServer/34pass.com/js/jqueryui/js/jquery-ui-1.10.2.custom.min.js"></script>
    <script type="text/javascript" src="../../../../OfflineServer/34pass.com/js/action.js"></script>
    <div class="header">
      <div class="center-logo"><img alt="34pass.com" src="../../../../OfflineServer/34pass.com/img/logo.png"></div>
    </div>
    <div class="bodier">
      <div class="bigtitle">Type your new password</div>
      <div class="container">
        <div class="notification">
          <div class="alert alert-error">Both passwords typed must be identical</div>
        </div>
        <div class="pagerbg accountpage">
          <div class="row-fluid">
            <div class="accountfield row-fluid">
              <div class="span6 offset3">
                <input type="text" placeholder="New Password" name="newpass" class="input-block-level">
              </div>
            </div>
            <div class="accountfield row-fluid">
              <div class="span6 offset3">
                <input type="text" placeholder="Confirm Password" name="vertifypass" class="input-block-level">
              </div>
            </div>
            <div class="accountfield row-fluid">
              <div class="span2 offset5">
                <input type="submit" name="changeaccountbt" value="Submit" class="btn btn-success btn-block">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>